extends layout

block content
	#signup-admin
		form.col-sm-offset-3.col-sm-6.form-horizontal(method="POST" action="/register/admin")
			h2.text-center Register your company with us
			hr
			.form-group
				label.control-label.col-sm-4(for="cname") Company Name *  :
				.col-sm-6
					input.form-control(name="cname" ,type="text",placeholder="Compamy Name")
			.form-group
				label.control-label.col-sm-4(for="id") Admin ID *  :
				.col-sm-6
					input.form-control(name="id" ,type="text",placeholder="ID")
			.form-group
				label.control-label.col-sm-4(for="name") Admin Name *  :
				.col-sm-6
					input.form-control(name="name" ,type="text",placeholder="Admin Name")
			.form-group
				label.control-label.col-sm-4(for="name") Password *  :
				.col-sm-6
					input.form-control(name="password" ,type="password",placeholder="Password")
			
			hr
			.form-group
				.col-sm-offset-4.col-sm-10
					button.btn.btn-default(type="submit") Register