extends layout

block content
	#contact
		h1.text-center Contact Us :)))
		.blog.col-sm-6.col-sm-offset-3
			br
			br
			p For any professional problems faced during the working, the developer team can be contacted. We would welcome more and more suggestions to improve the present software.
			br
			br
			.box1
				p For any queries, drop an email to any of the given email-ids :
				ul
					li f20160119@hyderabad.bits-pilani.ac.in
					li f20160123@hyderabad.bits-pilani.ac.in
					li f20160134@hyderabad.bits-pilani.ac.in