extends layout

block content
	#docs
		h1.text-center=title
		.blog.col-sm-8.col-sm-offset-2
			br
			br
			p Time card clocks system is a web-based software which is developed for the use of businesses, corporate houses, enterprises, employers of private firms and anybody who wants to keep a track of the working hour of members of one's organizations . This software provides solutions to keep automated tracked schedules of their employees' working hours and a record of their monthly payroll.
			br
			br
			hr
			p(style ="color:yellow; font-size: 25px;") How the Time Cards Clock works?
			br 
			p The Time Cards Clock first registers the organization or the company which wants to use the software. On the home page, the company representative can register by clicking on the Sign-up as Admin from the navigation bar or by clicking on 'Register as company-admin'. The company would be regsitered after the relevant information is filled. The comapny ID and admin name should be unique for the relevance of information.
			br
			hr.col-sm-4.col-sm-offset-4
			br
			br
			br
			p Similarly after the registration of a comapny with the software, the employees are also supposed to register with the software by filling the appropriate information. The company key is a uniquely generated random key for each organisation which employees are provided with when hired so as to register with the software.
			br
			hr.col-sm-4.col-sm-offset-4
			br
			br
			br
			p The software can be acessed by the company admin and employees both. The company admin has a list of all its employees. The company admin can view an employee's profile, work profile and current salary to be issued.The company admin can view the number of pending leave requests.
			br
			hr.col-sm-4.col-sm-offset-4
			br
			br
			br
			p The employees will be using the software to punch in and punch out when starting and stopping their work. The employees can apply for leaves too. Catering to the standard leave requirements in industry,the number of paid leaves include sick leaves(10), casual(10) and training(10). The employees can also view their own profile and work profile.




			

		