extends layout

block content
	#emp-page
		if emp
			.container
				h1 Employee
				hr
				.col-sm-3
					h2 #{emp.name}
					hr
					h4 Company - #{emp.company}
					if admin
						h4 Admin - #{admin.name}
		if user
			hr
			.container
				if user.admin!='admin' && !user.in
					form(method='POST' action='/users/intime/'+user._id)
						.form-group
							button.btn.btn-default(type='submit') In-Punch
				if user.admin!='admin' && user.in
					h5 You punched in
					form(method='POST' action='/users/outtime/'+user._id)
						.form-group
							button.btn.btn-default(type='submit') Out-Punch
			hr
			.container
				a.btn.btn-default(href='/users/payroll/'+emp._id) Show payroll and working hours
