extends layout

block content
	#emp-page
		if emp
			.container
				h1 Employee
				hr
				.col-sm-3
					h2 #{emp.name}
					hr
					h4 Company - #{emp.company}
					if admin
						h4 Admin - #{admin.name}
		if user.admin!='admin'
			.container
				form(method="POST" action='/time/in/'+user._id)
					.form-group
						button.btn.btn-default(type='submit') In-time
				form(method="POST" action='/time/out/'+user._id)
					.form-group
						button.btn.btn-default(type='submit') Out-time
