extends layout

block content
	#home
		h1= title
		p Welcome to #{title}
		.container
			hr
			if !user
				a.button.btn.btn-default(href='/signup/admin') Get Started as an admin
				span -----
				a.button.btn.btn-default(href='/signup/emp') Get Started as an employee*
				br
				br
				p *company key needed to register as an employee
			if user
				h3 Welcome #{user.name}
				if user.admin=="admin"
					h3
						a(href='/admin') #{user.company}
