body {
	padding-top: 70px;
	background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg.jpg");
	background-size: cover;
	opacity: 0.8;
}

.navbar {
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

* {
	color: white;
}

#home {
	text-align: center;
}