body {
	padding-top: 70px;
	background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg.jpg");
	background-size: cover;
}

.navbar {
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	opacity:0.8;
}

* {
	color: white;
}

#home {
	text-align: center;
}

.table-responsive {
	max-height: 300px;
	border:1px solid gray;
	padding: 10px;
}

.find-emp * {
	margin: 0px 10px;
}

.key {
	border: white solid 1px;
	padding: 3px;
	opacity: 0.7;
}
